<h3><%= l(:label_audits) %></h3>

<%= link_to l(:label_open_audits), project_audits_path(:utf8 => '✓',
                                                       :set_filter => 1,
                                                       :f => ['status'],
                                                       :op => {:status => 'o'}) %><br/>

<%= link_to l(:label_need_attention), project_audits_path(:utf8 => '✓',
                                                          :set_filter => 1,
                                                          :f => ['status'],
                                                          :op => {:status => '='},
                                                          :v => {:status => ['audit_required', 'concerned', 'requested']}) %><br/>

<%= link_to l(:label_problem_audits), project_audits_path(:utf8 => '✓',
                                                          :set_filter => 1,
                                                          :f => ['status'],
                                                          :op => {:status => '='},
                                                          :v => {:status => ['audit_required', 'concerned']}) %><br/>

<%= link_to l(:label_authored), project_audits_path(:utf8 => '✓',
                                                    :set_filter => 1,
                                                    :f => ['user_id'],
                                                    :op => {:user_id => '='},
                                                    :v => {:user_id => ['me']}) %><br/>

<%= link_to l(:label_all_audits), project_audits_path(:utf8 => '✓',
                                                      :set_filter => 1) %>
