<div class="contextual">
<%= link_to l(:label_audit_new), new_project_audit_path, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_audits) %></h2>

<% if ( ! @audits.empty?) %>
  <table class="list list-audits">
    <thead>
      <tr>
        <%= sort_header_tag('revision', :title => l(:label_revision)) %>
        <%= sort_header_tag('summary', :title => l(:label_summary)) %>
        <%= sort_header_tag('status', :title => l(:label_status)) %>
        <th><%= l(:label_committer) %></th>
        <%= sort_header_tag('committed_on', :title => l(:label_committed_on)) %>
        <th><%= l(:label_submitter) %></th>
        <%= sort_header_tag('updated_on', :title => l(:label_updated_on)) %>
      </tr>
    </thead>

    <tbody>
      <% for audit in @audits %>
        <tr class="<%= cycle("odd", "even") %>">
          <td class="revision"><%= link_to_revision(audit.changeset, audit.changeset.repository) %></td>
          <td class="subject"><%= link_to_audit(audit) %></td>
          <td class="status"><%= audit.status_label %></td>
          <td class="commiter"><%= h audit.changeset.author %></td>
          <td class="commited_on"><%= format_time(audit.changeset.committed_on) %></td>
          <td class="submitter">
            <% if ! audit.user.nil? %>
              <%= link_to_user(audit.user) %>
            <% else %>
              <%= h truncate(audit.changeset.author.to_s, :length => 30) %>
            <% end %>
          </td>
          <td class="updated_on"><%= format_time(audit.updated_on) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="pagination"><%= pagination_links_full @audit_pages, @audit_count %></p>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'audit', :plugin => 'code_audit' %>
  <%= javascript_include_tag 'audit', :plugin => 'code_audit' %>
<% end %>